<div class="main">
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over">
    <button mat-raised-button color="accent" (click)="sidenav.close()">Close Menu</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-button [matMenuTriggerFor]="operators">...</button>

        <mat-menu #operators="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="combination">Combination</button>
        </mat-menu>

        <mat-menu #combination="matMenu">
          <button mat-menu-item>combineAll</button>
          <button mat-menu-item>combineLatest</button>
          <button mat-menu-item>concat</button>
        </mat-menu>
        ｓａｎｄｂｏｘ　ー河
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

</div>
